29 Juni 2021
20.42 s.d 22.30

# Variabel

Variabel adalah tempat menyimpan data. Lebih detailnya, lokasi pada memori yang dicadangkan untuk menyimpan data.

## Kenalan dengan Variabel

### Membuat Variabel

In [ ]:
n = 100
nama = 'Justin'
umur = 13
hobi = 'Nyanyi'

print('isi variabel n', n)
print('nama:', nama)
print('umur:', umur, 'tahun')
print('hobi:', hobi)

isi variabel n 100
nama: Justin
umur: 13 tahun
hobi: Nyanyi

In [ ]:
nama_depan, nama_belakang = 'Justin', 'Timberlake'
print('nama depan:', nama_depan)
print('nama belakang:', nama_belakang)

a = b = c = 14
print(a, b, c)

nama depan: Justin
nama belakang: Timberlake
14 14 14

### Merubah Variabel

In [ ]:
umur = 30
print('umur', umur)

umur = 31
print('umur baru', umur)

umur 30
umur baru 31

### Menghapus Variabel

In [ ]:
tinggi_badan = 165
print('tinggi badan', tinggi_badan)

del(tinggi_badan)

# Print tinggi badan disini akan menghasilkan error
# karena variabel tinggi badan sebelumnya sudah dihapus
print('tinggi_badan', tinggi_badan)

tinggi badan 165

NameError: ignored

## Tipe Data dari Variabel

### Tipe Data Angka

In [ ]:
# Tipe data integer, bilangan bulat
harga = 1100000
print('harga:', harga)
print('tipe data var harga:', type(harga))

# Tipe data float, bilangan desimal
diskon = 10.5
print('diskon:', diskon)
print('tipe data var diskon:', type(diskon))

# Variasi penulisan angka dengan pemisah ribuan
harga = 1_100_000
print('harga:', harga)

# Notasi exponential
n = 1e5  # 1 x 10 pangkat 5
print('n:', n)

harga: 1100000
tipe data var harga: <class 'int'>
diskon: 10.5
tipe data var diskon: <class 'float'>
harga: 1100000
n: 100000.0

### Tipe Data Teks

In [ ]:
# Tipe data teks dibagi dua:

# Pertama Char, Karakter. Contoh 'A'
jenis_kelamin = 'P'
print('jenis kelamin:', jenis_kelamin)
print('tipe data var jenis_kelamin:', type(jenis_kelamin))

# Kedua String, Kumpulan karakter. Contoh 'Belajar koding'
tempat_tinggal = 'Bekasi'
print('tempat_tinggal:', tempat_tinggal)
print('tipe data var tempat_tinggal:', type(tempat_tinggal))

jenis kelamin: P
tipe data var jenis_kelamin: <class 'str'>
tempat_tinggal: Bekasi
tipe data var tempat_tinggal: <class 'str'>

### Tipe Data Float

In [ ]:
pi = 3.14159
print('pi:', pi)
print('tipe data pi:', type(pi))

### Tipe Data Boolean

Data yang hanya memiliki dua nilai True atau False

In [ ]:
lulus = True
print('lulus', lulus)
print('tipe data var lulus', type(lulus))

### Tipe Data Lainnya

In [ ]:
z = 3.14 + 0j
print('z', z)
print('tipe data var z:', type(z))

# Dan tipe data lainnya, akan dibahas diepisode selanjutnya.

z (3.14+0j)
tipe data var z: <class 'complex'>

## Aturan Nama Variabel Pada Python

In [ ]:
# Nama variabel yang diperbolehkan
# (A-Z, a-z), digits (0-9), dan karakter underscore (_)

# Huruf kecil
nama = 'Justin'

# Perpaduan dengan angka
lulus_kelas7 = True

# Huruf besar
Umur = 15

# Kombinasi huruf besar dan huruf kecil
nama_SMP = 'SMP 1 Bali'

# Penyambung dengan garis bawah/underscore (Snake Case)
nama_depan = 'Justin'

# Camel Case, kata kedua dan selanjutnya huruf besar
nomorUjian = 1531

# Pascal Case, Semua huruf pertamanya besar
NomorUjian = 1531

# Python 3 memperbolehkan karakter unicode sebagai nama varibel
# Tapi untuk penggunaan standar/pemula tidak disarankan.
β = 100
print('β', β)

β 100

Cara penamaan variabel dipython sekalipun bebas tetap ada kekhususan tertentu. Ini bertujuan untuk mempermudah kita membaca kode program.

Untuk saat ini, gunakan huruf kecil saja dan kombinasi menggunakan garis bawah `_` (Snake Case).

In [49]:
# Nama variabel yang dimulai dengan angka tidak bisa digunakan

5pa = 5

SyntaxError: ignored